@import url(fonts.css);
body {
  background: #f2f2f2;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
}

/*--------------------------------------------------------------------------------header----*/
.bg-my {
  width: 320px;
  height: 540px;
  margin: 0 auto;
  background: no-repeat center url("../img/mobile/header_background.png");
  background-size: cover;
}

.sign {
  width: 153px;
  height: 55px;
  margin: 0 0 0 26%;
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

.signup {
  margin: -3px -1px 0 0;
  padding-top: 2px;
  width: 90px;
  height: 36px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 45px;
  height: 17px;
  padding-left: 1px;
}

.header__text {
  width: 284px;
  height: auto;
  margin: 98px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header__text_1 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-left: 0;
  margin-bottom: 26.5px;
}
.header__text_2 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  margin-top: 1px;
  margin: -1px 0 5.5px -4px;
}
.header__text_3 {
  font-family: "roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  width: 281px;
  color: #F7F3F2;
  margin: 1px 0 16px -4px;
}
.header__text_find {
  width: 280px;
  height: 40px;
  margin-left: -2px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF4E50;
  border-radius: 40px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

/*-------------------------------------------------------------------*/
.section_name, .sec_holiday, .sec_activity, .sec_dream {
  width: 280px;
  height: 54px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin: 26px auto 14px;
  text-align: center;
  color: #444444;
}

.sec_dream {
  width: 289px;
  margin: 34px 0 15px 16px;
  height: auto;
}

.sec_activity {
  margin: 35px 0 0 20px;
}

.sec_holiday {
  margin: 25px 0 0 20px;
}

/*-------------------------------------------------------------------DREAM WORK*/
.steps__one, .steps__three, .steps__two {
  width: 300px;
  height: 240px;
  margin: 0 auto 10px;
  display: flex;
  flex-direction: column;
  background: no-repeat center url("../img/mobile/Step_1.png");
}
.steps__one_text1, .steps__three_text1, .steps__two_text1 {
  width: 70px;
  height: 20px;
  margin: 64px 0 45px 20px;
  padding: 6px 0 0 2px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.steps__one_text2, .steps__three_text2, .steps__two_text2 {
  margin: 1px 0 25px 20px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 14px;
  color: #FFFFFF;
}
.steps__one_text3, .steps__three_text3, .steps__two_text3 {
  width: 250px;
  margin: 0 0 0 20px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #e3e3e3;
}

.steps__two {
  background: no-repeat center url("../img/mobile/Step_2.png");
}
.steps__two_text1 {
  margin-top: 95px;
  padding-left: 0;
}
.steps__two_text2 {
  margin-top: -15px;
}
.steps__two_text3 {
  margin-top: -1px;
}

.steps__three {
  background: no-repeat center url("../img/mobile/Step_3.png");
}
.steps__three_text1 {
  padding-left: 0;
}
/*-------------------------------------------------------------------STAFF*/
#ch2,
#adr2,
#cha2,
#adre2 {
  display: none;
}

#ch1,
#adr1,
#cha1,
#adre1 {
  display: block;
}

.staff__info {
  width: 236px;
  height: auto;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
}
.staff__info_logo1, .staff__info_logo4, .staff__info_logo3, .staff__info_logo2 {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  background: no-repeat center url("../img/mobile/avatar1.png");
}
.staff__info_logo1::after, .staff__info_logo4::after, .staff__info_logo3::after, .staff__info_logo2::after {
  content: "";
  width: 32px;
  height: 32px;
  left: 88px;
  top: 88px;
  border-radius: 50%;
  display: block;
  position: absolute;
  background: no-repeat center url("../img/mobile/music.svg") #FF4E50;
  background-position: 49% 50%;
}
.staff__info_name, .staff__info_name2 {
  margin: 19px auto 12px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}
.staff__info_adress, .staff__info_adress2 {
  width: 236px;
  margin: 10px 0 15px 0px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}
.staff__info_logo2 {
  background: no-repeat center url("../img/mobile/avatar3.png");
}
.staff__info_logo2::after {
  background: no-repeat center url("../img/mobile/camera.svg") #FFA710;
  background-position: 50% 42%;
}
.staff__info_adress2 {
  margin-top: 15px;
}
.staff__info_logo3 {
  background: no-repeat center url("../img/mobile/avatar2.png");
}
.staff__info_logo3::after {
  background: no-repeat center url("../img/mobile/brush.svg") #19D4CA;
  background-position: 50% 42%;
}
.staff__info_logo4 {
  background: no-repeat center url("../img/mobile/avatar4.png");
}
.staff__info_logo4::after {
  background: no-repeat center url("../img/mobile/airplane.svg") #667DF3;
  background-position: 50% 56%;
}

/*-------------------------------------------------------------------activity*/
.see_other {
  width: 280px;
  height: 40px;
  margin: 20px auto 2px;
  padding: 2px 0 0 5px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FF4E50;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  cursor: pointer;
}

.col-12 {
  padding: 0;
}

.ideas {
  width: 300px;
  height: auto;
  margin: 0px auto 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ideas__br {
  height: 33px;
}
.ideas__image_sport, .ideas__image_trevell, .ideas__image_relax, .ideas__image_culture, .ideas__image_games, .ideas__image_extreme, .ideas__image_health {
  height: 120px;
  width: 300px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: no-repeat center url("../img/mobile/Sport.png");
}
.ideas__image_text, .ideas__image_textH, .ideas__image_textC {
  width: 200px;
  margin-top: -26px;
  text-align: center;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}
.ideas__image_health {
  background: no-repeat center url("../img/mobile/Health.png");
}
.ideas__image_textH, .ideas__image_textC {
  margin-top: 0;
}
.ideas__image_extreme {
  background: no-repeat center url("../img/mobile/Extreme.png");
}
.ideas__image_games {
  background: no-repeat center url("../img/mobile/Games.png");
}
.ideas__image_culture {
  background: no-repeat center url("../img/mobile/Culture.png");
}
.ideas__image_relax {
  background: no-repeat center url("../img/mobile/Relax.png");
}
.ideas__image_trevell {
  background: no-repeat center url("../img/mobile/Trevell.png");
}
.ideas__image_textC {
  margin-left: 1px;
  width: auto;
}

/*-------------------------------------------------------------------Search*/
.search {
  display: flex;
}
.search__data_text {
  margin: 19px 0 15px 5px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  color: #666666;
  text-align: center;
}
.search__data_input {
  margin: 0 auto 10px;
}
.search__data_input input {
  width: 280px;
  height: 40px;
  padding-left: 14px;
  padding-top: 1px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
}
.search__data_input input::-moz-placeholder {
  font-family: "roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.search__data_input input::placeholder {
  font-family: "roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.search__data_button {
  margin: 0 auto 40px;
  display: flex;
  justify-items: center;
}
.search__data_button input {
  padding: 2px 0 0 11px;
  width: 280px;
  height: 40px;
  border: none;
  background: #FF4E50;
  border-radius: 40px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

/*-------------------------------------------------------------------Footer*/
.footer {
  margin: 0 auto;
  padding-bottom: 22px;
  border-top: 2px solid #ff4e50;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}
.footer__sec1 p {
  margin: 20px 0 13px 1px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
}
.footer__sec2 {
  width: 275px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__sec2 p {
  margin: 0 0 1px 0;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}
.footer__sec2_text {
  padding: 0 20px;
}
.footer__sec2_text p {
  word-spacing: 10px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
.footer__sec2_text p + p {
  word-spacing: 0;
  margin: -1px 0 0 0;
  font-family: "roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
.footer__sec3 p {
  margin: 6px 0 14px -1px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}
.footer__sec4 p {
  margin: 0 0 7px 4px;
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #CCCCCC;
}
.footer__sec4_img {
  width: 110px;
  height: 24px;
  margin: -1px auto;
  background: no-repeat center url("../img/mobile/Logo.png");
}

/*-------------------------------------------------------------------media*/
.error {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: #303030;
  color: white;
  font-weight: bold;
  z-index: 55;
  position: absolute;
  display: none;
}

@media screen and (max-width: 361px) and (min-width: 0px) {
  .error {
    display: block;
  }
  .container {
    content: url("");
    width: 0;
  }
}
@media screen and (max-width: 784px) and (min-width: 362px) {
  .search__data_input {
    margin-left: 32px;
  }
  .search__data_width {
    width: 100%;
  }
  .search__data_button {
    margin-left: 32px;
    width: 280px;
  }
  .footer__sec1 {
    width: 100%;
  }
  .footer__sec2_text {
    width: 260px;
    height: 52px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 13px;
         column-gap: 13px;
    justify-content: center;
    padding: 0;
  }
  .footer__sec3 {
    width: 100%;
  }
  .footer__sec4 {
    width: 100%;
  }
}
@media screen and (max-width: 1456px) and (min-width: 785px) {
  .container {
    max-width: 768px;
  }
  .bg-my {
    width: 768px;
    height: 700px;
    background: no-repeat center url("../img/tablet/header_background.png");
  }
  .sign {
    margin: 0px 0 0 73.5%;
    padding-top: 59px;
  }
  .signup {
    padding-top: 3px;
  }
  .header__text {
    width: 630px;
    margin: 79px 58px;
  }
  .header__text_1 {
    margin: -92px 0 0 -499px;
  }
  .header__text_2 {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    margin-left: 23px;
    margin-top: 154px;
  }
  .header__text_3 {
    width: 406px;
    margin-top: 22px;
    margin-left: 23px;
    font-family: "roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
  }
  .header__text_find {
    width: 225px;
    margin-top: 18px;
    padding: 3px 0 0 1px;
    margin-left: 23px;
  }
  .section_name, .sec_dream, .sec_activity, .sec_holiday {
    width: 415px;
    margin: 94px auto 35px;
    font-family: "montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }
  .sec_dream {
    margin: 94px 0 35px 177px;
  }
  .row,
  .col-md-4,
  .col-md-8 {
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  .steps__one, .steps__two, .steps__three {
    width: 236px;
    height: 400px;
    margin: 0 10px 0 10px;
    padding: 0;
    background: no-repeat center url("../img/tablet/Step_1.png");
  }
  .steps__one_text1, .steps__two_text1, .steps__three_text1 {
    margin: 205px 0 45px 20px;
  }
  .steps__one_text2, .steps__two_text2, .steps__three_text2 {
    margin: 1px 0 25px 21px;
    line-height: 14px;
  }
  .steps__one_text3, .steps__two_text3, .steps__three_text3 {
    width: 199px;
    margin: 5px 0 0 20px;
  }
  .steps__two {
    background: no-repeat center url("../img/tablet/Step_2.png");
  }
  .steps__two_text1 {
    margin-top: 234px;
    margin-bottom: 22px;
  }
  .steps__two_text2 {
    width: 199px;
    margin: -6px 0 0 20px;
  }
  .steps__two_text3 {
    margin: 24px 0 -5px 20px;
  }
  .steps__three {
    background: no-repeat center url("../img/tablet/Step_3.png");
  }
  .steps__three_text1 {
    margin: 190px 0 45px 20px;
  }
  .staff {
    width: 709px;
    margin-top: -27px;
    padding-left: 2px;
  }
  .staff__info {
    width: 50%;
    align-items: center;
  }
  .staff__info_adress, .staff__info_adress2 {
    margin-left: 154px;
  }
  .staff__info_adress2 {
    margin-left: -41px;
  }
  .staff__info_adressXLL {
    margin-left: -41px;
  }
  .staff__info_logo1, .staff__info_logo2, .staff__info_logo3, .staff__info_logo4 {
    margin-left: 194px;
  }
  .staff__info_name, .staff__info_name2 {
    margin-left: 199px;
  }
  .staff__info_logo2 {
    margin-left: 96px;
  }
  .staff__info_name2 {
    margin-left: 113px;
  }
  .staff__info_logo3 {
    margin-top: 19px;
  }
  .staff__info_name3 {
    margin-left: 201px;
  }
  .staff__info_logo4 {
    margin-top: 19px;
    margin-left: 96px;
  }
  .staff__info_name4 {
    margin-left: 88px;
  }
  .see_other {
    width: 180px;
    margin-top: 24px;
  }
  /*------------------------------------------*/
  .sec_activity {
    width: 350px;
    margin: 94px auto;
  }
  .ideas {
    width: auto;
    flex-direction: row;
    margin: 0;
    margin-top: -96px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .ideas__br {
    height: 0;
  }
  .ideas__image_sport, .ideas__image_health, .ideas__image_extreme, .ideas__image_games, .ideas__image_culture, .ideas__image_relax, .ideas__image_trevell {
    margin: 10px;
    width: 236px;
    height: 310px;
    background: no-repeat center url("../img/tablet/Sport.png");
  }
  .ideas__image_health {
    background: no-repeat center url("../img/tablet/Health.png");
  }
  .ideas__image_extreme {
    background: no-repeat center url("../img/tablet/Extreme.png");
  }
  .ideas__image_games {
    background: no-repeat center url("../img/tablet/Games.png");
  }
  .ideas__image_culture {
    background: no-repeat center url("../img/tablet/Culture.png");
    width: 492px;
  }
  .ideas__image_relax {
    background: no-repeat center url("../img/tablet/Relax.png");
    width: 492px;
  }
  .ideas__image_trevell {
    background: no-repeat center url("../img/tablet/Trevell.png");
  }
  /*------------------------------------------------------------*/
  .sec_holiday {
    margin: 84px auto;
    margin-left: 30.5%;
    width: 303px;
  }
  .search {
    justify-content: center;
    width: 50%;
  }
  .search__data_text {
    width: 300px;
    margin: -58px 0 15px 236px;
  }
  .search__data_input {
    margin: -19px 0 0px 143px;
  }
  .search__data_input input {
    width: 299px;
  }
  .search__data_button {
    width: 172px;
    margin: -19px 0 40px 260px;
  }
  .search__data_button input {
    width: 172.12px;
    padding: 2px 0 0 6px;
  }
  .footer {
    height: 244px;
    flex-direction: row;
    margin-top: 60px;
  }
  .footer__sec1 {
    margin-top: 17px;
  }
  .footer__sec1 p {
    margin-left: 2px;
  }
  .footer__sec2 {
    width: 189px;
    margin: 39px 0 0 0;
    padding-left: 25px;
  }
  .footer__sec2 p {
    margin-left: 1px;
  }
  .footer__sec2_text {
    width: 123%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 11px 0 0 0;
    padding-left: 66px;
  }
  .footer__sec2_text p + p {
    margin-top: -0.6px;
  }
  .footer__sec3 p {
    margin: 39px 0 14px -22px;
  }
  .footer__sec4 p {
    margin: 39px 0 7px 38px;
  }
  .footer__sec4_img {
    margin-left: 43px;
  }
}
@media screen and (min-width: 1457px) {
  .container {
    max-width: 1440px;
  }
  .bg-my {
    width: 1440px;
    height: 700px;
    background: no-repeat center url("../img/desktop/header_background.png");
  }
  .sign {
    margin: 0px 0 0 69.1%;
    padding-top: 59px;
  }
  .signup {
    padding-top: 3px;
  }
  .header__text {
    width: 480px;
    margin: 79px 482px;
  }
  .header__text_1 {
    margin: -92px 0 0 -796px;
  }
  .header__text_2 {
    font-family: "montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    margin-top: 154px;
  }
  .header__text_3 {
    width: 406px;
    margin-top: 22px;
    font-family: "roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
  }
  .header__text_find {
    width: 225px;
    margin-top: 18px;
    padding-top: 3px;
    margin-left: -2px;
  }
  .row,
  .col-md-4,
  .col-md-8 {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
  }
  .sec_dream {
    width: 342px;
    margin: 89px auto 35px;
    font-family: "montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
  }
  .steps__one, .steps__two, .steps__three {
    width: 300px;
    height: 400px;
    margin: 0 10px 0 10px;
    padding: 0;
    background: no-repeat center url("../img/desktop/Step_1.png");
  }
  .steps__one_text1, .steps__two_text1, .steps__three_text1 {
    margin: 219px 0 45px 25px;
  }
  .steps__one_text2, .steps__two_text2, .steps__three_text2 {
    margin: -22px 0 25px 25px;
    line-height: 26px;
  }
  .steps__one_text3, .steps__two_text3, .steps__three_text3 {
    margin: -1px 0 0 25px;
  }
  .steps__two {
    background: no-repeat center url("../img/desktop/Step_2.png");
  }
  .steps__two_text1 {
    margin-top: 230px;
    margin-bottom: 22px;
  }
  .steps__two_text2 {
    margin: 3px 0 0 25px;
  }
  .steps__two_text3 {
    margin: 18px 0 0 25px;
  }
  .steps__three {
    background: no-repeat center url("../img/desktop/Step_3.png");
  }
  .steps__three_text1 {
    margin: 199px 0 45px 25px;
  }
  /*--------------------------------------------*/
  .section_name, .sec_dream, .sec_activity, .sec_holiday {
    width: 491px;
    margin: 89px auto 35px;
    margin-left: 476px;
    font-family: "montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
  }
  #ch2,
  #adr2,
  #cha2,
  #adre2 {
    display: block;
  }
  #ch1,
  #adr1,
  #cha1,
  #adre1 {
    display: none;
  }
  .staff {
    width: 960px;
    margin-top: -22px;
    padding-left: 2px;
  }
  .staff__info {
    align-items: center;
  }
  .staff__info_adress, .staff__info_adress2 {
    width: 221px;
    margin: 10px 0 15px -2px;
  }
  .staff__info_adressXL {
    margin: 15px 0 10px 11px;
  }
  .staff__info_adressXLL {
    margin: 15px 0 10px 2px;
  }
  .staff__info_logo1::after, .staff__info_logo2::after, .staff__info_logo3::after, .staff__info_logo4::after {
    background-position: 48% 50%;
  }
  .staff__info_logo2 {
    background: no-repeat center url("../img/desktop/avatar2.png");
  }
  .staff__info_logo2::after {
    background: no-repeat center url("../img/desktop/brush.svg") #19D4CA;
    background-position: 50% 42%;
  }
  .staff__info_logo3 {
    margin-right: 57px;
    background: no-repeat center url("../img/desktop/avatar3.png");
  }
  .staff__info_logo3::after {
    background: no-repeat center url("../img/desktop/camera.svg") #FFA710;
    background-position: 50% 42%;
  }
  .staff__info_logo4 {
    margin-left: 59px;
  }
  .staff__info_logo4::after {
    background-position: 49% 56%;
  }
  /*------------------------------------------*/
  .see_other {
    width: 180px;
    margin: 25px auto 89px;
    padding: 2px 0 0 7px;
  }
  .sec_activity {
    width: 425px;
    margin: 0 auto;
  }
  .ideas {
    width: 960px;
    flex-direction: row;
    margin: 3px auto;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .ideas__br {
    height: 0;
  }
  .ideas__image_text, .ideas__image_textH, .ideas__image_textC {
    width: 210px;
    margin-top: 0px;
  }
  .ideas__image_textH, .ideas__image_textC {
    width: 300px;
  }
  .ideas__image_textH1 {
    width: 225px;
  }
  .ideas__image_sport, .ideas__image_health, .ideas__image_extreme, .ideas__image_games, .ideas__image_culture, .ideas__image_relax, .ideas__image_trevell {
    margin: 10px;
    width: 300px;
    height: 310px;
    background: no-repeat center url("../img/desktop/Sport.png");
  }
  .ideas__image_health {
    margin-left: 11px;
    background: no-repeat center url("../img/desktop/Health.png");
  }
  .ideas__image_extreme {
    margin-left: 11px;
    background: no-repeat center url("../img/desktop/Extreme.png");
  }
  .ideas__image_games {
    background: no-repeat center url("../img/desktop/Games.png");
  }
  .ideas__image_culture {
    margin-left: 11px;
    background: no-repeat center url("../img/desktop/Culture.png");
    width: 620px;
  }
  .ideas__image_relax {
    background: no-repeat center url("../img/desktop/Relax.png");
    width: 620px;
  }
  .ideas__image_trevell {
    margin-left: 11px;
    background: no-repeat center url("../img/desktop/Trevell.png");
  }
  /*------------------------------------------------------------*/
  .sec_holiday {
    margin: 79px auto;
    width: 370px;
  }
  .search {
    justify-content: center;
    width: 50%;
  }
  .search__data_text {
    margin: -48px 0 0 2px;
  }
  .search__data_input {
    margin: -9px 0 0px 118px;
  }
  .search__data_input input {
    width: 299px;
  }
  .search__data_button {
    margin: -9px 0 40px 67px;
  }
  .search__data_button input {
    width: 172.12px;
    padding: 2px 0 0 6px;
  }
  /*------------------------------------------------------------*/
  .footer {
    flex-direction: row;
    margin: 60px auto 36px;
    height: 260px;
  }
  .footer__sec1 p {
    margin: 37px 0 13px 116px;
  }
  .footer__sec2 {
    width: 190px;
    margin: 39px 29px 1px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer__sec2_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    padding: 11px 0 0 44px;
  }
  .footer__sec2_text p + p {
    margin-top: -0.6px;
  }
  .footer__sec3 p {
    margin: 39px 0 14px -137px;
  }
  .footer__sec4 p {
    margin: 39px 0 7px -74px;
  }
  .footer__sec4_img {
    margin: -1px 0 0 71px;
  }
}/*# sourceMappingURL=main.css.map */